<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nl.mad_world.chilltime" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <activity
            android:name=".MainActivity"
            android:label="Chilltime"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registreer"
            android:label="@string/title_activity_registreer"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Contact"
            android:label="@string/title_activity_contact"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Group"
            android:label="@string/title_activity_group"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".addContact"
            android:label="@string/title_activity_add_contact" >
        </activity>
        <activity
            android:name=".CaldroidActivity"
            android:screenOrientation="portrait"
            android:label="Agenda" >
        </activity>
        <activity
            android:name=".WeekViewer"
            android:label="Week" >
        </activity>
        <activity
            android:name=".maakEvent"
            android:label="Maak Afspraak" >
        </activity>
        <activity
        android:name=".Event"
        android:label="Event" >
    </activity>
        <activity
            android:name=".AddGroup"
            android:label="@string/title_activity_add_group" >
        </activity>
    </application>
</manifest>
